@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body{
  background: rgb(204, 202, 202);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
  position: relative;
  width: 100%;
  min-height: 1000px;
  max-width: 1000px;
  background: #fff;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.container .left-one{
  position: relative;
  background: #111;
  padding: 40px;
}
.container .right-one{
  position: relative;
  background: #fff;
  padding: 40px;
}
.profile{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.profile .imgBox{
  position: relative;
   overflow: hidden;
}
img{
  width: 250px;
  height: 300px;

}
.profile h2{
   color: #fff;
   font-size: 1.5rem;
   margin-top: 20px;
   text-transform: uppercase;
   text-align: center;
   font-weight: 600;
   line-height: 1.4rem;
}
.profile h2 span{
  font-size: 0.8rem;
  font-weight: 300;
  
}
.contact{
  position: relative;
  padding-top: 40px;
}
.title{
  color: rgba(0, 0, 255, 0.671);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.contact ul{
  position: relative;
}
.contact ul li{
  list-style: none;
  position: relative;
  cursor: pointer;
  margin: 10px 0;
  
}
.contact ul li .icon{
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #03a9f4;
}
.contact ul li span{
  color: #fff;
  font-weight: 400;
}
.contact.education li{
  margin-bottom: 20px;
}
.contact.education h5{
  color: #03a9f4;
  font-weight: 500;

}
.contact.education h4:nth-child(2){
  color: #fff;
  font-weight: 500;
}
.contact.education h4{
  color: #fff;
  font-weight: 300;
}
.contact.language .percent{
  position: relative;
  display: block;
  width: 100%;
  height: 6px;
  color: red;
  margin-top: 15px;
}
.percent{
  position: relative;
  width: 100%;
  height: 6px;
  background-color: #03a9f4;
  display: block;
  margin-top: 5px;
}
.per{
  color: #fff;
  font-size: 15px;
  
}
.about{
  margin-bottom: 50px;
}
.about:last-child{
  margin-bottom: 0;
}
.title2{
  color: rgb(11, 11, 66);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.about .box{
  display: flex;
  flex-direction: row;
  margin: 25px 0;
}
.box .year_company{
  min-width: 160px;
}
.box .year_company h4{
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}
.box .text h4{
    text-transform: uppercase;
    color: #003147;
    font-size: 16px;
    margin-bottom: 10px;
}
.skills .box{
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 150px 1fr;
  justify-content: center;
  align-items: center;
}
.skills .box h4{
  text-transform: uppercase;
  color: #848c99;
  font-weight: 500;
}
.skills .box .percen{
  position: relative;
  width: 100%;
  height: 10px;
  background: #f0f0f0;
}
.percen  div{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #03a9f4;
}
.interest ul{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}
.interest ul li{
  list-style: none;
  color: #333;
  font-weight: 500;
  margin: 10px 0;
}
.interest ul li i{
  color: #03a9f4;
  font-size: 18px;
  width: 20px;
}
 .social ul{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.social li{
  list-style: none;

}
.social i{
  font-size: 25px;
  color: #03a9f4;
}


@media (max-width:1000px){
  .container{
    margin: 10px;
    grid-template-columns: repeat(1,1fr);
  }
  .interest ul{
    grid-template-columns: repeat(2,1fr);
  }

}

@media (max-width:600px){
  .about .box{
    flex-direction: column;
  }
  .about .box .year_company{
    min-width: 150px;
    margin-bottom: 5px;
  }
  .skills .box {
    grid-template-columns: repeat(1,1fr);
  }
  
}